body {
  background-color: #000;
  box-sizing: border-box;
}

#main {
  background-image: url("../img/background.png");
  width: 900px;
  height: 506px;
  background-size: contain;
  display: flex;
  justify-content: center;
  margin: auto;
  background-repeat: no-repeat;
  border-radius: 40px;
  margin-top: 60px;
  flex-direction: column;
  position: relative;
}
#main .optionBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
}
#main .optionBox .playBtn {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 4px solid #000;
  background-color: rgb(233, 224, 148);
  cursor: pointer;
}
#main .optionBox .playBtn:hover {
  transform: scale(1.1);
}
#main .optionBox .playBtn:before {
  content: "\f04b";
  font: var(--fa-font-solid);
  font-size: 22px;
}
#main .optionBox .playBtn.play:before {
  content: "\f04d";
}
#main .optionBox .timer {
  margin-top: 10px;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: 4px solid #000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .optionBox .timer span {
  font-size: 30px;
  font-weight: 700;
}
#main .optionBox .count {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 100px;
  background-color: rgb(255, 159, 49);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
#main .optionBox .count span {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}
#main .playground {
  height: 50%;
  position: relative;
  pointer-events: visible;
}
#main .playground img {
  position: absolute;
  opacity: 0;
  top: 100px;
  left: 100%;
  z-index: 10;
  cursor: pointer;
}
#main .playground img:hover {
  transform: scale(1.05);
}
#main .gameEnd {
  position: absolute;
  width: 400px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  opacity: 0;
}
#main .gameEnd .endBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
#main .gameEnd .endBox .replay {
  background: none;
  border: none;
  font-size: 20px;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 160, 71);
  border-radius: 10px;
  margin-bottom: 30px;
  transition: transform 0.5s ease;
  cursor: pointer;
}
#main .gameEnd .endBox .replay:hover {
  transform: scale(1.1);
}
#main .gameEnd .endBox .replay a i {
  color: #fff;
}
#main .gameEnd .endBox .result {
  font-size: 30px;
  color: #fff;
  font-weight: 500;
}